Repository/Schemas/Organizer/VideoFilmCollection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/VideoFilmCollection.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="videoFilmCollections">
		<complexType>
			<element name="videoFilmCollection" type="videoFilmCollectionType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="videoFilmCollectionType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>