Repository/Schemas/Organizer/VideoRoot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/VideoRoot.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="videoRoots">
		<complexType>
			<element name="videoRoot" type="videoRootType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="videoRootType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>