Repository/Schemas/Comments.xsd

<?xml version="1.0" encoding="UTF-8"?>

<schema targetNamespace="http://schemas.getenvy.com/Comments.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="comments">
		<complexType>
			<element name="comment" type="commentType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>

	<complexType name="commentType">
		<all>
			<attribute name="rating" type="int"/>
		</all>
	</complexType>

</schema>
