Schemas/ApplicationFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/ApplicationFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<mapping>
		<map namespace="http://www.shareaza.com/schemas/applicationAll.xsd"/>
	</mapping>
	<element name="applicationFolders">
		<complexType>
			<element name="applicationFolder" type="allType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="allType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>