Schemas/ArchiveRoot.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/ArchiveRoot.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="archiveRoots">
		<complexType>
			<element name="archiveRoot" type="rootType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="rootType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>