Schemas/AudioFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/AudioFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="audioFolders">
		<complexType>
			<element name="audioFolder" type="foldertype" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="foldertype">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>