Schemas/BitTorrentFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/BitTorrentFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="torrentFolders">
		<complexType>
			<element name="torrentFolder" type="torrentType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="torrentType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>