Schemas/CollectionFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/CollectionFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="collectionFolders">
		<complexType>
			<element name="collectionFolder" type="collectionsType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="collectionsType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>