Schemas/DocumentAll.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/DocumentAll.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="documentAlls">
		<complexType>
			<element name="documentAll" type="allType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="allType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>