Schemas/DocumentFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/DocumentFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="documentFolders">
		<complexType>
			<element name="documentFolder" type="foldertype" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="foldertype">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>