Schemas/FavoritesFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/FavoritesFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="favoritesFolders">
		<complexType>
			<element name="favoritesFolder" type="favoritesType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="favoritesType">
		<all>
			<attribute name="title" type="string"/>
			<attribute name="description" type="string"/>
		</all>
	</complexType>

</schema>