Schemas/Unsorted.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/Unsorted.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="unsorteds">
		<complexType>
			<element name="unsorted" type="unsortedType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="unsortedType">
		<all>
			<attribute name="comments">
				<simpleType base="string">
					<maxInclusive value="256"/>
				</simpleType>
			</attribute>
			<attribute name="sharetag" type="boolean"/>
			<attribute name="sharetaginfo" type="string"/>
		</all>
	</complexType>

</schema>