Schemas/UnsortedFolder.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://schemas.getenvy.com/UnsortedFolder.xsd" xmlns="http://www.w3.org/2001/XMLSchema">

	<element name="unsortedFolders">
		<complexType>
			<element name="unsortedFolder" type="unsortedType" minOccurs="1" maxOccurs="unbounded"/>
		</complexType>
	</element>
	<complexType name="unsortedType">
		<all>
			<attribute name="title" type="string"/>
		</all>
	</complexType>

</schema>